*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    color: black;
}
.ForeBase{
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.BackBase{
    display: flex;
    position: relative;
    width: 100vw;
    height: fit-content;
    z-index: 1;
}
.Header{
    display: flex;
    position: fixed;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}
.OPT{
    display: flex;
    width: 20vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.OPT a{
    color: black;
    text-decoration: none;
}
.NAV:hover{
    background-color: cornflowerblue;
}
.LOGO{
    padding-left: 5vw;
}
.Content{
    display: flex;
    position: relative;
    margin-top: 10vh;
    width: 100vw;
    height: fit-content;
    background-color: azure;
    flex-direction: column;
}
.ImageHolderHeader{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: deepskyblue;
}
.ImageHolder{
    display: flex;
    position: relative;
    width: 100%;
    height: 75vh;
    background-color: darkcyan;
    flex-direction: row;
    justify-content: center;
}
.Image{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}
.IntroductionHeader{
    display: flex;
    position: relative;
    width: 100vw;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: skyblue;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
.Introduction{
    display: flex;
    position: relative;
    width: 100vw;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: skyblue;
}
.TicketSlotter{
    display: flex;
    position: relative;
    width: 100vw;
    height: 25vh;
    flex-direction: row;
}
.IntroductionTicket{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 25vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: teal;   
    z-index: 8;
}
.IntroductionSlotter{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 25vh;
    background-color: darkcyan;
    z-index: 7;
}
.Z1:hover .IntroductionTicket{
    display: none;
}
.Z1:hover .IntroductionSlotter{
    display: flex;
}
.TicketSlotter a{
    color:black;
    text-decoration: none;
}
.Advert{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: fit-content;
    margin-top: 10vh;
}
.Teaser{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 50vh;
    background-color: seagreen;
}
.ProductUse{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: darkturquoise;
    width: 100vw;
    height: 100%;
}
.AdvertiserSlot{
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: slategray;
    width: 100vw;
    height: 100%;
}
.Z2:hover .ProductUse{
    display: none;
}
.Z2:hover .AdvertiserSlot{
    display: flex;
}
.Saler{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    background-color: white;
}
.ProductImage{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.ProductName{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 50vw;
}
.ProductName a{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.ImageMain{
    display: flex;
    position: relative;
    width: 50vw;
    height: auto;
}
.Software{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    background-color: burlywood;
}
.Online{
    display: flex;
    position: relative;
    width: 50vw;
    height: 25vh;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: tomato;
}
.Online a{
    color: black;
    text-decoration: none;
}
.Offline{
    display: flex;
    position: relative;
    width: 50vw;
    height: 25vh;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: darkcyan;
}
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: cadetblue;
}
.Contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 25vh;
}
.Credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
}
/*THE OTHER PART - MAIN*/
.Holder{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 10vh;
}
.Introductor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 35vh;
    background-color: deepskyblue;
}
.Searcher{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 25vh;
    justify-content: space-around;
    background-color: deepskyblue;
}
.Searcher input{
    display: flex;
    width: 50vw;
    height: 100px;
    flex-wrap: wrap;
}
.SecondOption{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    text-align: center;
    background-color: deepskyblue;
}
.FileReader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-color: deepskyblue;
}
.FileReader input{
    display: flex;
    width: 50vw;
    height: 15vh;
}
.Results{
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 10vh;
    background-color: teal;
}
/*THIS IS THE SIGNER*/
.SignHolder{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50vh;
    background-color: antiquewhite;
    justify-content: space-between;
}
.Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    width: 50vw;
    height: 100%;
}
.Blob{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    height: 100%;
}
.Blob input{
    width: 35vw;
    height: 50px;
}
.NameInput{
    display: flex;
}
.PasswordInput{
    display: flex;
}
.NotSignedIn{
    display: flex;
}
.NotSignedIn a{
    color: black;
    text-decoration: none;
}